.imgBox {
    max-width: 300px;
    width: 100%;
    background-color: antiquewhite;
    margin: auto;
}
.ul {
    max-width: 300px;
    width: 100%;
}
.image1 {
    max-width: 40px;
    width: 100%;
}